<div class="well" align="center"><h2><%= link_to post.name, post %></h2> <span>Written by: <%= post.user.name %> </span>

<% if !user_signed_in? %>
  <p> <%= link_to "Log in to Edit or Delete your Post", login_path %> </p>
<% else %>
  <p><%= link_to edit_post_path(post), class: 'btn-btn-danger' do %><i class="glyphicon glyphicon-pencil"></i><% end %> | <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-btn-danger' do %><i class="glyphicon glyphicon-trash"></i><% end %></p>
<% end %>

</div>
